In [1]:
import numpy as np
import pandas as pd

In [5]:
mv = pd.read_csv(r'movies_dataset.csv', delimiter=',')
mv.head(1)

C:\Users\Martin\AppData\Local\Temp\ipykernel_9944\3839050898.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  mv = pd.read_csv(r'movies_dataset.csv', delimiter=',')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0

In [6]:
# analizamos el tamaño del dataset
mv.shape

(45466, 24)

In [7]:
# analizamos el tipo de dato que posee cada campo y la cantidad de datos no nulos
mv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

Primero, mi intencion fue pasar todos los campos con fecha al formato AAAA-mm-dd, para hacer esto usé la funcion datetime de pandas.

Ahí me di cuenta, que esta funcion me arrojaba un ValueError que me decia que no podía pasar el valor "1" al formato requerido. 

Cuando me fije el registro en el que 'release_date'= '1' , pude darme cuenta que en realidad ese dato correspondia a lo que seria el campo 'id'. Fui analizando que pasaba si iba cambiando el valor de 'release_date':

    mv.loc[(mv['release_date']=='12') | (mv['release_date']=='1')]

Con este codigo, que me muestra los registros en los que 'release_date' es igual a 1 o igual a '12' pude encontrar un patrón, estos registros se encontraban desplazados.

Por ejemplo, en el campo 'adult' de estos registros encontrabamos datos correspondientes al campo 'overview', en el campo 'release_date' encontrabamos datos correspondientes al campo 'id'.

In [8]:
mv['adult'].value_counts()

False                                                                                                                             45454
True                                                                                                                                  9
 - Written by Ørnås                                                                                                                   1
 Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.                        1
 Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.        1
Name: adult, dtype: int64